
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
.Python
importer/.idea
importer/__pycache__/

# Spyder project settings
.spyderproject
.spyproject

*.idea
*.log
importer/*.log

